accelerate
aiohttp~=3.8.5
aiosignal
aiosqlite
async-timeout
attrs
certifi
cffi
charset-normalizer
colorama
cryptography
diffusers
dill
easy-pil
env~=0.1.0
filelock
frozenlist
ftfy
function-cooldowns
greenlet
huggingface-hub
idna
importlib-metadata
loguru
lxml
multidict
multiprocess
nextcord~=2.6.0
numerize
numpy
openai~=0.28.1
packaging
pathos
Pillow
pox
ppft
psutil
pycparser
pydantic
PyExecJS
PyNaCl
pyshorteners~=1.0.1
python-dotenv
PyYAML
regex
replicate~=0.13.0
requests~=2.31.0
scipy
six
SQLAlchemy
tokenizers
tqdm
transformers
translators~=5.8.5
typing~=3.7.4.3
typing_extensions
urllib3
wcwidth
win32-setctime
yarl
zipp

nextwave~=1.5
cloudinary~=1.36.0