accelerate
aiohttp
aiosignal
aiosqlite
async-timeout
attrs
certifi
cffi
charset-normalizer
colorama
cryptography
diffusers
dill
easy-pil
env
filelock
frozenlist
ftfy
function-cooldowns
greenlet
huggingface-hub
idna
importlib-metadata
loguru
lxml
multidict
multiprocess
nextcord
numerize
numpy
openai
packaging
pathos
Pillow
pox
ppft
psutil
pycparser
pydantic
PyExecJS
PyNaCl
pyshorteners
python-dotenv
PyYAML
regex
replicate
requests
scipy
six
SQLAlchemy
tokenizers
tqdm
transformers
translators
typing
typing_extensions
urllib3
wcwidth
win32-setctime
yarl
zipp
